* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  background-color: black;
  width: 100%;
  height: 250px;

}

.titolo{
  width:200px;
  height: 50px;
}


h1{
  color: red;

}

img{
  margin-left: 30%;
  ;
}

input{
  margin-top: 20px;

}


body {
    background-color: darkgrey;
    color: blue;
}



h2 {
    color: blue;
    margin-top: 50px;
}

.container-film{

	height: 50%;
	display: flex;
	flex-flow: row;
	flex-wrap: no-wrap;
  margin-top: 50px;
}

.container-tv{
	height: 50%;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
  margin-top: 50px;
}

.flag{
  width: 30px;
}

ul{
  padding-left: 40px;
}
